.body{
    font-family: 'Playfair Display';
}
header .textos-header
{
display:flex;
height: 430;
width:100%;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
    
}
.contenedor{
    padding:60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow:hidden;
}
.titulo{
    
    color:blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
.contenedor-sobre-nosotros{
    display:flex;
    justify-content: space-evenly;


}
.pie{
    height: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    clear: both;
    }
.Sobre-nosotros{
        height: 10px;
        background-color:blueviolet;
        color: #fff;
        text-align:right;
        clear: both;
      
        }
        .servicios{
            height: 30px;
            background-color:red;
            color:blueviolet;
            text-align:right;
            clear: both;
          
            }
    #button {
                padding: 0;
                }

    #button li {
                    display: inline;
                    }    
    #button li a {
                        font-family: Arial;
                        font-size: 11px;
                        text-decoration: none;
                        float: left;
                        padding: 10px;
                        background-color: #2175bc;
                        color: #fff;
                        }
    .mision{
        display: flex;
        height: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
                          
    }

    .imagen1{
    font-family: Arial;
    font-size: 10px;
    height: 10px;
    background-color:red;
    color:blueviolet;
    text-align:right;
    clear: both;
                                                  
                                                    }                        




    .contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    }
    .body2{
        height: 10px;
        background-color:blue;
        color: #fff;
        text-align:left;
        clear: both;
      
        }
    
    .body3{
        height: 10px;
        background-color:blue;
        color: #fff;
        text-align:left;
        clear: both;
      
        }